h1{
    text-align: center;
}

h2{
    color: white;
    background-color: brown;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

h3{
    color: blue;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}

table, tr, td, th, thead, tbody, tfooter, caption{
    border-collapse: collapse;
    border: 1px solid black;
}

caption{
    background-color: #222;
    color: white;
    margin: 2px;
    padding: 2px;
}

thead, tfoot{
    background-color: lightgray;
}

.red{
    color: red;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}
